<div id="introduction">
  <p><%= raw t(:intro, :author_link => link_to('cantlin', 'http://cantl.in/'), :twitter_link => link_to('Twitter', 'http://twitter.com'), :github_link => link_to('github', 'https://github.com/cantlin/chirp.cantl.in')) %></p>
  <%= link_to t(:login_submit), 'oauth', :id => 'login', :'data-window' => 'popup' %>
</div>
