<div id="introduction">
  <p>Hello, this is a simple example application by <a href="http://cantl.in">cantlin</a> for unfollowing people on <a href="http://twitter.com/">Twitter</a>. The source is on <a href="https://github.com/cantlin">github</a>.</p>
  <%= link_to I18n.t(:login_submit), 'oauth', :id => 'login', :'data-window' => 'popup' %>
</div>
