<div class="login panel">
        <h2><%=t :site_name %></h2>
	<div class="content">
		<%= link_to I18n.t(:login_submit), new_session_path, :id => 'login', :'data-window' => 'popup' %>
	</div>
</div>
