<div class="system-message welcome">
  <p><%=t :new_session_advice %> <%= raw t(:dismiss_this, :link => link_to(t(:dismiss_link_text).capitalize, '', :'data-destroy' => 'system-message.welcome')) %></p>
</div>
