body {
	margin:0; padding:0;
	font-family:'Arial', 'Helvetica', sans-serif;
	font-size:14px;
}
img {
	border:0;
}
a:link, a:visited {
	color:#2299cc;
	text-decoration:none;
}
a:active, a:hover {
	color:#000;
}
p {
  margin:0 0 10px 0;
}
#wrap {
	width:960px;
	margin:0 auto;
	padding:74px 0 20px 0;
	position:relative;
}
.panel {
	width:300px;
}
.panel h2 {
	margin:0 0 6px 0;
	padding:0;
/*	font-family:'Courier New', 'Courier', 'Monaco', sans-serif; */
	font-weight:normal;
	display:block;
	background:url('../images/twitter_favicon.png') 99% 3px no-repeat;
}
.panel .content {
	border:1px solid #DDD;
	border-radius:5px;
	padding:10px;
	background-color:#EEE;
}
.panel .content p {
	margin:0;
	padding:10px 0;
	color:#000;
	font-size:0.9em;
}
.login.panel {
	margin:200px auto 0 auto;
}
.error-help {
	display:block;
	padding-left:10px;
	color:red;
}
#update-following {
position:relative;
width:960px;
overflow:hidden;
}
.user-checkbox-box {
  width:470px;
  height:65px;
  overflow:hidden;
  float:left;
  padding:8px 0;
  margin:0;
  position:relative;
  background-color:#fff;
}
.user-checkbox-box.odd {
  margin:0 20px 0 0;
}
.user-checkbox-box.even-row {
  border-top:1px solid #ebebeb;
  border-bottom:1px solid #ebebeb;
}
.user-checkbox-box.odd-row {
position:relative;
bottom:1px;
margin-top:1px;
height:66px;
z-index:2;
}
.user-checkbox-box .inner {
  width:400px;
 float:left;
}
.user-checkbox-box:hover {
  background-color:#efefef;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
}
.user-checkbox-box.odd-row:hover {
  margin-top:0;
  margin-bottom:-3px;
  height:67px;
}
.user-checkbox-box:hover img {
border-color:#ddd;
}
#wrap .user-checkbox-box a.twitter-profile-link {
    color:#2299cc;
}
.user-checkbox-box p {
    margin:0;
    padding:0;
}
.user-checkbox-box img {
  border:5px solid #ebebeb;
  border-radius:5px;
  -moz-border-radius:5px;
  float:left;
  margin-right:6px;
  margin-left:5px;
  width:48px;
  height:48px;
}
.user-checkbox-box h4 {
  font-size:1.2em;
  margin:0;
  padding:2px 0 0px 0;
}
#wrap .user-checkbox-box.deselected h4 a {
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
-webkit-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
color:#999;
}
.user-checkbox-box input[type="checkbox"] {
    position:absolute;
    right:8px;
    top:10px;
}
pre {
 overflow-x: auto; white-space: pre-wrap; white-space: -moz-pre-wrap !important;
 white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;
}
#nav {
  position:absolute;
  right:0;
  top:0;
  padding:16px 10px 10px 10px;
/*  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  border:1px solid #CCC;
  border-top:none;
  background-color:#efefef; */
  font-size:0.9em;
}
h2 {
   margin:10px 0 10px 0;
}
.clear {
    clear:both;
}
.user-checkbox-box p.tweet {
margin:6px 0 0 2px;
border-left:1px solid  #dedede;
padding:2px 0 2px 8px;
  color:#999;
  font-size:0.9em;
}
#head {
    position:fixed;
    top:0;
    border-bottom:1px solid #ddd;
    z-index:3;
    background-color:#fff;
    width:960px;
}
#save a {
position:relative;
top:6px;
}
#save a, a#login {
/*background:url('../images/icon_save_tiny.png') 94% 4px no-repeat;*/
padding:5px 7px 4px 8px;
margin:0;
border:1px solid #64A044;
border-radius:5px;
-moz-border-radius:5px;
background-color:#84D159;
color:#FFF;
text-shadow:1px 1px #73b84d;
font-family:'Arial', 'Helvetica', sans-serif;
font-size:1em;
cursor:pointer;
}
#save {
display:none;
position:absolute;
right:0;
top:10px;
padding:0;
}
.page {
float:left;
width:960px;
/*display:none;*/
}
#page-container {
width:9999px;
}
.system-message {
padding:10px 10px 0 10px;
margin:0 0 8px 0;
font-family:'Arial', 'Helvetica', sans-serif;
font-size:1em;
background-color:#2299CC;
border:1px solid #1e81ac;
text-shadow:1px 1px solid #1e81ac;
color:#FFF;
border-radius:5px; -moz-border-radius:5px;
}
#wrap .success {
border:1px solid #64A044;
background-color:#84D159;
color:#FFF;
text-shadow:1px 1px #73b84d;
}
.system-message a:link, .system-message a:visited {
color:#fff;
font-weight:bold;
text-decoration:underline;
}
a.next-page, a.last-page {
float:right;
display:block;
text-shadow:1px 1px #fff;
background-color:#ebebeb;
padding:4px 6px 5px 6px;
font-size:0.8em;
border:1px solid #ddd;
border-top:none;
}
a.next-page {
border-bottom-right-radius:4px;
border-left:1px solid #fff;
}
a.last-page {
border-bottom-left-radius:4px;
}
#wrap a.disabled {
color:#ccc;
cursor:default;
}
#under-head {
position:fixed;
top:45px;
width:960px;
z-index:3;
}
#home {
color:#000;
}
#introduction p {
padding-bottom:8px;
}
#search {
float:left;
margin:6px 0 0 6px;
}
#search input {
border-radius:5px;
border:1px solid #ddd;
background-color:#eee;
font-size:0.9em;
font-family:'Arial', 'Helvetica', sans-serif;
padding:5px 4px;
color:#2299cc;
text-shadow:1px 1px #fff;
}
#search input[type="text"] {
color:#000;
background-color:#fff;
}
#search input:hover {
border-color:#ccc;
}
#head h2 {
float:left;
}