<div class="system-message success">
  <p><%= t(:you_acted, :action => t("#{params[:method]}ed")) %> <%= raw comma_seperated_usernames @users_acted_on %>. <%= raw t(:undo_or_dismiss_this, :undo_link => link_to(t(:undo_link_text), undo_href(params[:method], @users_acted_on)), :dismiss_link => link_to(t(:dismiss_link_text), '', :'data-destroy' => "system-message.success")) %></p>
</div>
