<div id="nav">
  <%= raw t(:last_visit, :user_link => link_to_twitter_profile(@current_user.screen_name), :time => time_ago_in_words(@current_user.last_login)) %> <%= link_to I18n.t(:log_out), logout_path %>.
</div>
