<div id="update-following">
<input type="hidden" name="users" value="" />
<input type="hidden" name="method" value="unfollow" />
<!-- <p>You are following <strong><%= @current_user.following.count %></strong> users. -->
<div id="under-head"><a class="next-page" href="" data-page="next">Next page &raquo;</a><a class="last-page" href="" data-page="last">&laquo; Last page</a></div>
<div id="page-container">
  <%= render :partial => 'users/followed_user', :collection => @current_user.following %>
  <br class="clear" />
</div> <!-- /page-container -->
</div> <!-- /update-following -->
