<% content_for :header do -%>
  <div id="save"><%= link_to t(:save), '', 'data-submit' => 'update-following-form' %></div>
<% end -%>
<% if (cookies['dismissed_system-message.welcome'].nil?) # hack -%>
  <%= render :partial => 'sessions/new_session_message' %>
<% end -%>
<%= render :partial => 'update_following' %>
