<% content_for :header do -%>
  <div id="save"><%= link_to t(:save), '', 'data-submit' => 'update-following-form' %></div>
<% end -%>
<% if @twitter_users.empty? %>
  <%=t :empty_search %>
<% else %>
  <%= render :partial => 'users/update_following' %>
<% end %>
